/node_modules
/public/hot
/public/storage
/public/pdf/transmittal/*.pdf
/public/images/avatar/*
!/public/images/avatar/default.png
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
